@import "animations.css";


a{text-decoration: none}

html {
    background: url("../img/background.png") no-repeat center top/cover;
    margin: auto;

}

body{
    max-width: 1280px;
    margin: auto;
}

.logo_img {
    background-image: url(../img/logo.png);
    height: 44px;
    width: 46px;
    display: inline-block;
    position: relative;
    z-index: 1;
    float: left;
}

.logo_img:hover {
    background-image: url(../img/logo_hover.png);
    height: 44px;
    width: 46px;
    display: inline-block;
    position: relative;
    z-index: 2;
    float: left;

}


.all_page {
    max-width: 1280px;
    margin: auto;
}

.mil_hol_hover:hover {
    color: #f26522;
}

.mil_hol h1 {
    display: inline-block;
    font-family: Verdana;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-left: 10px;
}

.mil_hol h2 {
    display: inline-block;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-left: 10px;
}

.mil_hol {
    margin-top: 20px;
    margin-left: 100px;
}

.contact_info {
    text-align: right;
    margin-right: 30px;
    margin-top: -45px;
}

.contact_info a {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}

.copy_info {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    float: end;
    clear: both;
}

.copy_info p{
    margin-top: 80px;
}

.img_container:nth-child(3n+1){
    margin-left: 0;
}


.line_2:nth-child(3n+1){
    margin-left: 0;
}
.img_container {
    float: left;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
    height: 202px;
    margin-left:65px;
    position: relative;
    text-decoration: none;
}

.img_container img {
    width: 307px;
    height: 200px;
    background-image: linear-gradient(white, black);
    padding: 2px;
    /*margin-right: 20px;*/
}

.text_under_img {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    text-align: center;
    margin-top: 274px;
    /*margin-bottom: -250px;*/
}

.text_under_img h3{
    padding-bottom: 25px;
}

.text_under_img:hover {
    color: #f26522;
}

h3{
    margin-top: 15px;
}

.details {
    background-color: darkorange;
    color: white;
    position: relative;
    transition: all 300ms;
    width: 311px;
    height: 62px;
    overflow: hidden;
}

.details_text{
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}

.details_text_view{
    font-family: Verdana;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.price {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.proposal:hover .details {
    animation: flowOut 1s forwards;
}


.price::after {
    content: '€'
}

.proposal:hover h1 {
    color: darkorange;
}

.proposal {
    width: 341px;
    float: left;
}

/*.pr_2{*/
/*width: 350px;*/
/*float: left;*/
/*margin-left: 26px;*/
/*}*/

.pr_1{
    /*width: 350px;*/
    /*float: left;*/
    /*margin-left: 26px;*/
}

.imageContainer img {
    margin: 2px;
}

.line_2{
    float: left;
    margin-left: 150px;
    margin-bottom: 130px;
    margin-top: 50px;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.container-2{
    width: 1280px;
    margin: 0 auto;
    padding-left: 150px;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

section{
    display: block;
}